out/
.vs/
.idea/
Build/
dist/
gen/
CMakeSettings.json
CMakeLists.txt.user
reactor.asm
Nominax/ByteCodeInterface/noxbci/.idea/
Nominax/ByteCodeInterface/noxbci/Cargo.lock
Nominax/ByteCodeInterface/noxbci/target
Corium/Compiler/target/
Corium/Compiler/.idea/
Corium/Compiler/Cargo.lock
_Build_/
Nominax/Nominax.ini
Nominax.ini
