R"(
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    margin-left: 1rem;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    background: #e6ecff 
}
.main {
    background: #e6ecff;
}
.headline {
    font-weight: bold;
    color: #e6ecff;
    background: #6078bf;
}
.help {
    color: #202020;
}
.file {
    color: #2142bf;
    font-weight: bold;
}
.line {
    color: #2142bf;
    font-weight: bold;
}
.routine {
    color: #2142bf;
    font-weight: bold;
}
.message {
    color: #2142bf;
    font-weight: bold;
}
.registers {
    font-weight: bold;
    border-top: 1px solid #e6ecff;
    border-bottom: 1px solid #97a7d7;
    background: #c5d5ff;
    color: #2142bf;
}
)"
